.App {
  text-align: center;
}

#loading {
  height: 30vmin;
  pointer-events: none;
  /* display: none; */
}

@media (prefers-reduced-motion: no-preference) {
  #loading {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Saira+Extra+Condensed:500'); */
/* Minimal Reset */ 
html, body, div, h2, p, section, audio {  
  margin: 0;  
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
} 
html {
  font-size: 24px;
  /* sbackground-image: url(./background.jpg); */
} 
body {
  align-items: center;
  /* background: black; */
  color: rgb(229, 177, 58);
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /* height: 100vh; */
  justify-content: center;
  line-height: 1.25;
  /* overflow: hidden; */
}

.divClass:hover {
  cursor: pointer;
}
